html,
body {
	background: #003366;
	color: #C0C0C0;
}
.void {
	height: 100vh;
	color: white;
	overflow: hidden;
}
.echo {
	opacity: 0;
	position: absolute;
	word-wrap: break-word;
	max-width: 90vw;
}
.alone {
	opacity: 0;
	text-align: right;
}
.user {
	background: #C0C0C0;
	color: #003366;
	height: 50px;
	margin: 10px;
	line-height: 50px;
	border-radius: 10px;
	padding-right: 0px;
}
.ban {
	position: relative;
	float: right;
	height: 50px;
	width: 100px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
